{:source-paths ["src-cljs"]

 :builds
 {:consol
  {:target :browser
   :compiler-options {:optimizations :none}

   :output-dir "resources/public/js-out"
   :asset-path "/js-out"

   :modules
   {:consol {:entries [consol.main]
             :output-to "resources/public/consol.js"}}}}}
