{:source-paths ["src-cljs"]

 :builds
 {:slab
  {:target :browser
   :compiler-options {:optimizations :none}

   :output-dir "resources/public/js-out"
   :asset-path "/js-out"

   :modules
   {:slab {:entries [slab.main]
           :output-to "resources/public/slab.js"}}}}}
